* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  height: 2000px;
}
.main-container {
  width: 117rem;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 17rem);
}
/* header */
.header {
  height: 4.8rem;
  display: flex;
  align-items: center;
  margin-top: 5.2rem;
  position: sticky;
  top: 0;
  box-sizing: content-box;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #fff;
  z-index: 1;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .logo :nth-child(2) {
  margin-left: 0.6rem;
}
.header .logo :nth-child(3) {
  margin-left: 0.35rem;
}

.header .nav {
  width: 44.6rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 23.5rem;
}
.header .nav a {
  padding-top: 0.4rem;
  color: #2f3a3b;
  font-family: Poppins;
  line-height: normal;
}

.header .nav a:hover {
  color: #2f3a3b;
  font-weight: 600;
  line-height: normal;
}

.header .sign {
  display: flex;
  width: 18.5rem;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
}

.header .sign .sign-in {
  color: #494949;
  font-weight: 400;
  line-height: normal;
}
.header .sign .sign-in a {
  color: #494949;
}
.header .sign .sign-in:hover {
  color: #2f3a3b;
  font-weight: 600;
  line-height: normal;
}
.btn {
  width: 10.8rem;
  height: 4.8rem;
  border-radius: 6px;
}

.header .sign .btn-sign-up {
  border: 1px solid #1ebfc1;
  background-color: white;
  color: #1ebfc1;
  font-size: 1.6rem;
  font-weight: 600;
}

.header .sign .btn-sign-up:hover {
  background-color: #1ebfc1;
  color: white;
}
/* content */
/* hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.2rem;
}
/* heroleft */
.hero .left {
  width: 45.8rem;
  height: 44.5rem;
}

.hero .left #left-hero1 {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}
.hero .left h1 {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 7.2rem;
}
.hero .left #left-hero2 {
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin-top: 4.6rem;
}

.hero .left .action {
  height: 6.8rem;
  display: flex;
  align-items: center;
  width: 29.8rem;
  justify-content: space-between;
  margin-top: 5.2rem;
}

.hero .left .action .btn-get-started {
  width: 18.6rem;
  height: 6.8rem;
  border-radius: 1.4rem;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border: 0;
}
.hero .left .action .btn-get-started a {
  color: white;
}
.hero .left .action .btn-get-started:hover {
  background-color: #38e1e4;
}

.hero .left .action .play {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .left .action .play a {
  display: inline-block;
  width: 1.4rem;
  height: 1.8rem;
}

/* heroright */
.hero .right {
  display: flex;
  position: relative;
}

.hero .right .main-img-hero {
  background-color: #e0f7f6;
  display: flex;
}

.hero .right .card {
  display: flex;
  position: absolute;
}

.hero .right .card-hero1 {
  width: 15.7rem;
  height: 7.5rem;
  border-radius: 1.8rem;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  top: 14.9rem;
  left: -4rem;
  align-items: center;
}

.hero .right .book {
  width: 3.6rem;
  height: 4rem;
  background-color: #ff8282;
  display: flex;
  margin-left: 2.5rem;
}
.hero .right .book div {
  width: 2.8rem;
  height: 0.4rem;
  background-color: white;
  margin-top: 2.8rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9999px;
}

.hero .right .card-hero1 p {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  width: 5.5rem;
  height: 3rem;
  margin-left: 1.6rem;
  align-items: center;
}

.hero .right .card-hero2 {
  top: 45.3rem;
  width: 12.4rem;
  height: 13.2rem;
  border-radius: 2.4rem;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  justify-content: center;
  flex-wrap: wrap;
  left: -6.5rem;
}

.hero .right .card-hero2 p {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  height: 1.5rem;
  width: 12.4rem;
  justify-content: center;
  margin-top: 1.6rem;
}

.hero .right .card-hero2 .bar {
  width: 7.4rem;
  height: 0.6rem;
  background-color: #edf1f5;
  border-radius: 9999px;
}
.hero .right .card-hero2 .bar-hero {
  height: 6.2rem;
}
.hero .right .card-hero2 .bar-hero .bar1 div {
  width: 3.7rem;
  height: 0.6rem;
  background-color: #fb9899;
  border-radius: 9999px;
}

.hero .right .card-hero2 .bar-hero .bar2 div {
  width: 5.55rem;
  height: 0.6rem;
  background-color: #fb9899;
  border-radius: 9999px;
  margin-top: 1.2rem;
}

.hero .right .card-hero2 .bar-hero .bar3 div {
  width: 3rem;
  height: 0.6rem;
  background-color: #fb9899;
  border-radius: 9999px;
  margin-top: 1.2rem;
}
.hero .right .card-hero2 .bar-hero .bar4 {
  width: 2.6rem;
  height: 0.6rem;
  background-color: #edf1f5;
  margin-top: 1.6rem;
  margin-left: 2.4rem;
}

.hero .right .card-hero3 {
  width: 20.7rem;
  height: 9rem;
  border-radius: 2.4rem;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
  justify-content: center;
  top: 50rem;
  left: 32.4rem;
}
.hero .right .card-hero3 .texts {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.7rem;
  display: flex;
  height: 1.5rem;
  align-items: center;
}

.hero .right .card-hero3 .avata-hero {
  display: flex;
  height: 3.3rem;
  margin-top: -1rem;
}
.hero .right .card-hero3 .avata {
  width: 3.3rem;
  height: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.hero .right .card-hero3 .avata-hero .avata1 {
  background-color: #1ebfc1;
}
.hero .right .card-hero3 .avata-hero .avata2 {
  background-color: #ffc147;
  margin-left: -0.7rem;
}
.hero .right .card-hero3 .avata-hero .avata3 {
  background-color: #ff947a;
  margin-left: -0.7rem;
}
.hero .right .card-hero3 .avata-hero .avata4 {
  background-color: #bf83ff;
  margin-left: -0.7rem;
}
.hero .right .card-hero3 .avata-hero .avata5 {
  background-color: #1ebfc1;
  color: white;
  margin-left: -0.7rem;
}
.hero .right .card-hero3 .avata-hero .avata5 p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
